<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,900&display=swap" rel="stylesheet">

  <style>
  body { font-family: "Lato", sans-serif }
  </style>
</head>
<body>
  <div class="w3-content" style="margin: 0 auto;max-width:500px;width:500px;text-align: center;">

    <div class="w3-display-container w3-center" style="display: block;height:100px;background-color:rgb(6, 17, 72);">
      <img src="https://budweiser-sweep-assets.s3.amazonaws.com/drizly_lockup_email_logo.png" style="width: 200px;height: auto;" />
    </div>

    <div class="w3-container w3-content" style="max-width:800px;margin:10% auto;" id="band">
      <div style="text-align:center;">
        <h1 class="w3-wide" style="font-size:24px;font-weight:900;margin:2.5% auto;color:#333">Drink up, <%= @user.first_name %>!</h1>
        <h2 class="w3-wide" style="font-style:italic;font-size:28px;font-weight:100;margin:2.5% auto;color:#333">STREAK</h2>
        <button style="border-radius:5px;width:60%;margin:2.5% auto;box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 7px 0px;padding:3%;background-color:rgb(6, 17, 72);font-size: 18px;text-transform: uppercase;color:#fff;">
        <a class="w3-wide" href="https://drizly.com/beer-brands/bud-light/b1019?utm_medium=partner&utm_source=email&utm_campaign=budlight+sports+sweep&img=budlightnfl" style="color:#fff;text-decoration: none;font-weight:900;">Redeem Now 🍺</a>
      </button>
      </div>
      <p class="w3-justify" style="text-align:left;font-size:16px;width:90%;margin:5% auto;color:#333">Welcome to Streak for the Beer! Our friends at Drizly wanted to send a little something to celebrate with on game day - $5 off your next order of Bud Light.</p>
      <p class="w3-justify" style="text-align:left;font-size:16px;width:90%;margin:5% auto;color:#333">Now, go copy your code above and get yourself a six-pack of Bud Light and enjoy the game!</p>
      <div style="width:90%;height:1px;margin:5% auto;background-color:rgba(30, 30, 30, 0.25)"></div>
      <p style="text-align: left;width:100%;margin:5% auto;font-size:10px;text-transform: uppercase; font-style: italic;"><i>Must be 21+. Cannot be combined with any other offer. Per applicable law, value may be applied towards order total or shipping or delivery fees. Includes orders of non-alcoholic items.</i></p>
      <p style="text-align: left;width:100%;margin:5% auto;font-size:10px;text-transform: uppercase; font-style: italic;"><i>To stop receiving Bud Light Sweeps rewards, reply to this email with "STOP".</i></p>
    </div>
  </div>
</body>
</html>